numpy
pandas
scikit-learn
jupyterlab
jupytext
jupyter_server
ipdb
tqdm
imblearn
skorch
torch
torchvision
matplotlib
pytorch-lightning
tensorboard
protobuf==4.25  # via tensorboard
seaborn
imbalanced-learn
